<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492007638762-38s3hbju9uf6t2cef59fk5sru22mkj3m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492007638762-38s3hbju9uf6t2cef59fk5sru22mkj3m</string>
	<key>API_KEY</key>
	<string>AIzaSyCGqsTdEkyiY5CO317u_2yyBDq3MIjZpbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>492007638762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pt.feltes.portfolio</string>
	<key>PROJECT_ID</key>
	<string>feltes-portfolio</string>
	<key>STORAGE_BUCKET</key>
	<string>feltes-portfolio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492007638762:ios:dee0d13ade4f51cc62f993</string>
	<key>DATABASE_URL</key>
	<string>https://feltes-portfolio.firebaseio.com</string>
</dict>
</plist>